.underElement::after{
    position: absolute;
    content: " ";
    height: 3px;
    width: 75px;
    background-color: red;
    border-radius: 360px;
    z-index: -1px;
}
.underElement{
    display: flex;
    flex-direction: column-reverse;
    font-size: 20px;
    font-weight: 600;

}
.cont{
    width: auto;
    display: flex;

}