.projects-container{
    padding-top: 100px;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}
.project-item{
    height: 250px;
    width: 200px;
    display: flex;
    flex-direction: column;
}
.project-item1{
    flex:1;
    background-color: red;
}
.project-item2{
    flex:1;
    background-color: #252525;
}
.project-wrap{
    display: flex;
    padding-top: 50px;
    gap: 30px;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.project-a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    color: inherit;
}
.project-a:hover{
    color: red;
}

@media screen and (max-width:1080px) {
    .projects-container{
        margin: 0 10%;
    }
}
@media screen and (max-width:640px) {
    .projects-container{
        padding-top: 50px;
    }
}