.about-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    padding: 0% 10%;
    gap: 20%;
    background-color: inherit;
    opacity: 1;
    z-index: 1000;
    text-align: left;
}
.about-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
}
.about-heading{
    font-size: 25px;
    font-weight: 600;
}
span{
    color: #EF383A;
    font-weight: 600;
}
.name{
    font-weight: 600;
    font-size: 20px;
}
@media screen and (max-width:1080px){
        
    .about-container{
        padding: 0 10%;
    }
}
@media screen and (max-width:640px){
    .name{
        align-self: center;
    }
    .about-container{
        text-align: left;
        padding-top: 50px;
    }

}